In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [2]:
test1='This is a test of the emergency text system,'
f=open('test.txt','w')
f.write(test1)
f.close()

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

No difference between test1 and test2

In [3]:
f=open('test.txt','r')
test2=f.read()
f.close()
test2

'This is a test of the emergency text system,'

In [4]:
test1

'This is a test of the emergency text system,'

In [ ]:
3. Create a CSV file called books.csv by using these lines

In [17]:
header = ['title','author','year']
data = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]

with open('books.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

In [20]:
conn = sqlite3.connect('book.db')
c = conn.cursor()

In [21]:
c.execute('create table book(title varchar(20),author varchar(20),year int)')
conn.commit()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [11]:
import csv

In [22]:
a_file = open("books.csv")
rows = csv.reader(a_file)
c.executemany("INSERT INTO book VALUES (?, ?, ?)", rows)

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [24]:
c.execute('select title from book order by title')
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('title',)]

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [25]:
c.execute('select title, author,year from book order by year')
c.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('title', 'author', 'year')]

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [1]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///book.db")

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [2]:
pip install redis

Collecting redis
  Downloading redis-4.1.3-py3-none-any.whl (173 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\bachu\anaconda3\lib\site-packages (from redis) (21.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\bachu\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\bachu\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import redis
r = redis.Redis(host='localhost',
    port=6379,
    db=0,)

r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
r.hgetall('test')

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
r.hincrby('test','count', 3)